@import "~bootstrap/scss/bootstrap";

/*
--------------
HEADER
--------------
*/

#header-top-bar {
    background-color: #0082F9;
    text-align: end;
    display: flex;
    align-items: center;

    a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 8px;
    }
}

nav {

    height: 100px;

    .container {
        height: 100%;
    }

    .brand {
        width: 100px;
        padding: 8px;

        img {
            width: 100%;
        }
    }

    .menu {

        flex-grow: 1;

        ul {
            display: flex;
            gap: 20px;
            justify-content: center;
            height: 100%;

            li {
                list-style: none;
                text-transform: uppercase;
                height: 100%;
                border-bottom: 3px solid #0082F9;
                display: flex;
                align-items: center;

                a {
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }

    .search {
        height: 100%;
        padding: 2px;
        display: flex;
        align-items: center;

        .search-bar {

            input {
                border: none;
                border-bottom: 3px solid #0082F9;
                width: 100px;

                &::placeholder {
                    text-align: end;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

}